body {background-image: url(media/p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
div {
    border: 0px solid orange;
    padding: 20px 20px;
    margin: 200px 600px 200px 600px;
   background-color : orange;
}
